{% extends 'izotoprk/base.html' %}

{% block page %}
<br/>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title text-center text-dark">
      Сотрудники
    </h3>
  </div>
  <br/>
  <div class="panel-body">
    <table id="companys-objects" class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr class="bg-light text-dark">
          <th scope="col">Ф.И.О.</th>
          <th scope="col">Телефон</th>
          <th scope="col">Должность</th>
        </tr>
      </thead>
      <tbody>
        {% for account in accounts %}
         <tr>
            <td><img class="mr-3 rounded-circle" src="{{ MEDIA_URL }}{{ account.avatar }}" width="50" height="50" alt="logo"><a href="{% url 'izotoprk-worker' worker_id=account.id %}">{{ account.account_fio }}</a></td>
            <td>{{ account.phone_number }}</td>
            <td>{{ account.position }}</td>
         </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  $(function(){
    $("#companys-objects").dataTable( {
      "searching": false,
      "lengthChange": false,
      "pageLength": 4,
      "info": false
    });
  })
</script>
{% endblock %}
