{% extends 'izotoprk/base.html' %}

{% block page %}
<br/>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title text-center text-dark">
      Объекты
    </h3>
  </div>
  <br/>
  <div class="panel-body">
    <table id="companys-objects" class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr class="bg-light text-dark">
          <th scope="col">Адрес объекта</th>
          <th scope="col">Объект</th>
        </tr>
      </thead>
      <tbody>
        {% for companyobject in company_objects %}
         <tr>
           <td><a href="{% url 'izotoprk-object-detail' object_id=companyobject.id %}">{{ companyobject.address }}</a></td>
           <td>{{ companyobject.comment }}</td>
         </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  $(function(){
    $("#companys-objects").dataTable( {
    });
  })
</script>
{% endblock %}